<header class="navbar">
  <span class="logo" style="text-align: center;">Employee Management System</span>
  <nav style="display: inline-flex; align-items: center;">
    <div>
      @if (profileImageUrl) {
        <!-- <img [src]="`http://localhost:8000/${profileImageUrl}`" alt="Profile Avatar" class="avatar-img" /> -->
        <img [src]="`${baseUrl}/${profileImageUrl}`" alt="Profile Avatar" class="avatar-img" />
      } @else {
        <ng-container *ngTemplateOutlet="defaultAvatar"></ng-container>
      }
      <ng-template #defaultAvatar>
        <i style="font-size: 30px;" class="bi bi-person-circle"></i>
      </ng-template>
    </div>
    <div class="header-name d-inline-block position-relative">
      <a (click)="toggleProfileMenu()" class="profile-link" style="cursor:pointer;">
        <strong>{{userName}}</strong><i style="margin-left: 5px;" class="bi bi-chevron-down"></i></a>
      @if (showProfileMenu) {
      <div class="dropdown-menu show position-absolute end-0 mt-2" style="min-width: 180px;">
        <a style="color: black;" href="/my-account">My Account</a>
        <div class="dropdown-divider"></div>
        <a style="color: black; cursor: pointer;" (click)="logout()">Logout</a>
      </div>
      }

    </div>

  </nav>
</header>