<div class="history-container">
      @for (item of leavesList; track $index) {
      <div style="margin-bottom: 10px;" class="accordion" [attr.id]="item.id">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button button-style" [class.collapsed]="!isPanelOpen(item.id)"
              (click)="togglePanel(item.id)" [attr.aria-expanded]="isPanelOpen(item.id)"
              [attr.aria-controls]="'collapse-' + item.id">
              <div class="col-3" style="padding: 0px; margin: 0px;">
                <h6>Category</h6>
                <p>Leave</p>
              </div>
              <div class="col-3">
                <h6>Leave Type</h6>
                <p>{{item?.leaveType}}</p>
              </div>
              <div class="col-3">
                <h6>No. of days</h6>
                <p>{{item?.daysApplied}}</p>
              </div>
            <div class="col-3">
                <h6>Status</h6>
                <p class="{{ item?.status === 'approved' ? 'text-green' : item?.status === 'rejected' ? 'text-red': 'text-pending' }}">
                    {{item?.status === 'approved' ? 'Approved' : item?.status === 'rejected' ? 'Rejected' : 'Pending' }}<br />
                    <body style="background-color: inherit;">{{item?.approvedDate | date:'dd MMM yyyy'}}</body>
                </p>
            </div>
            </button>
          </h2>
          <div class="accordion-collapse collapse" [class.show]="isPanelOpen(item.id)"
            [attr.id]="'collapse-' + item.id" [attr.aria-labelledby]="'heading-' + item.id"
            aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="col-12">
                <h6>Duration: <span style="font-weight: normal;">{{item?.startDate | date: 'dd MMM yyyy'}} - {{item?.endDate | date: 'dd MMM yyyy'}}</span></h6>
                <h6>Reason: <span style="font-weight: normal;">{{item?.reason}}</span></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
      @if (!leavesList.length) {
      <div class="col-12" style="display: flex; justify-content: center; align-items: center; height: 70vh;">No Data Available!</div>
      }
    </div>