<div class="col-12 p-4" style="display: inline-flex; max-height: 50%;">
  <div class="col-8">
    <h4 style="text-transform: capitalize;">Good {{greeting}}</h4>
    <p style="color:darkgrey;">Don’t worry about failures, worry about the chances you miss when you don’t even try.
      <br />- Jack Canfield
    </p>
  </div>
  <div class="col-4 position-relative">
    <img style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; object-fit: cover;"
      src="images/dbImage.jpeg" class="img-fluid" alt="">
  </div>
  </div>
  @if (isLoading) {
  <div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
}

<div class="container">
  <div class="row">
    <div class="review cards col">
      <p class="card-title">Review</p>
      <img src="images/CheckList.jpg" class="img-fluid review-img" alt="Review">
      <p style="text-align: center; color: rgb(187, 182, 182);">Hurrah! You've nothing to review</p>
    </div>
    <div class="details cards col">
      <p class="card-title">{{todayDate}}</p>
      <div style="padding-bottom: 10px; color: rgb(173, 168, 168); font-size: small;">{{dayOfWeek}} | Genaral Shift
      </div>
      <div style="padding-bottom: 10px;">{{currentTime}}</div>
      <br />
      <div class="space-between">
        <a (click)="onViewSwipesClick()" class="blue-color" style="text-decoration: none; cursor: pointer;">View Swipes</a>
        <button type="button" class="btn sign-out-btn">Sign Out</button>
      </div>
    </div>
    <div class="cards col px-2">
      <div class="space-between pb-2">
        <p class="card-title">Upcoming Holidays</p>
        <a [routerLink]="'/holidays'" routerLinkActive="active">
        <i style="padding-right: 10px; cursor: pointer; font-size: 22px;" class="bi bi-arrow-right"></i>
      </a>
      </div>
      @for (item of holidayList; track $index) {
      <div class="col-12">
        <p class="card-title">{{item.formattedDate}} <span
            style="font-size: small; font-weight: normal;">{{item.dayName}}</span><br />
          <span style="font-size: small; font-weight: normal;">{{item.localName}}</span>
        </p>
      </div>
      }
    </div>
  </div>
<app-view-swipes
[visible]="showViewSwipes()"
(close)="closeViewSwipes()"
>
</app-view-swipes>
  <!-- <app-custom-table [columns]="columns" [data]="data" [actions]="actions" (rowClick)="onRowClick($event)"
    (actionClick)="onActionClick($event)">
  </app-custom-table> -->

</div>