<div class="modal fade show d-block" style="background-color: rgba(0,0,0,0.5);" *ngIf="isVisible">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" (click)="close()"></button>
      </div>

      <div class="modal-body">
        <p>{{ message }}</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-yes" (click)="onConfirm()">{{ confirmText }}</button>
        <button class="btn btn-secondary" (click)="close()">{{ cancelText }}</button>
      </div>

    </div>
  </div>
</div>
