.custom-thead,
.custom-thead tr,
.custom-thead th {
    background-color: #4092e4 !important;
    color: #fff !important;
    font-weight: 500;
}

.create-btn {
    background-color: #4092e4;
    color: #fff
}